<h3>CLIENTE</h3>
                <ul class="list-group">
                    <li class="list-group-item">CEDULA:{{customer.id}}</li>
                    <li class="list-group-item">NOMBRE: {{customer.name}} {{customer.surname}}</li>
                    <li class="list-group-item">DIRECCION:
                        {{customer.address.principalStreet}}
                        {{customer.address.code}}
                        {{customer.address.secondaryStreet}}
                    </li>

                </ul>
