<h3>EMPRESA</h3>
                <ul class="list-group">
                    <li class="list-group-item">RUC:{{company.ruc}}</li>
                    <li class="list-group-item">NOMBRE: {{company.name}}</li>
                    <li class="list-group-item">DIRECCION: {{company.direccion.city}}
                        --{{company.direccion.principalStreet}}
                        {{company.direccion.code}}
                        {{company.direccion.secondaryStreet}}
                    </li>
                </ul>