<div class="container">
    <div class="card my-5">
        <div class="card-header">
            <h2>FACTURA</h2>
        </div>
        <div class="card-body">
            <div>
                <ul>
                    <li>No. {{invoice.id}}</li>
                </ul>
            </div>
            <div class="row">
            <div class="col">
                <!-- pasamos por el tag la inf de comapy y siempre en corchetes por ser datos de otra plantilla -->
                <company-view [company]="invoice.company"></company-view>
            </div>
            <div class="col">
                <customer-view [customer]="invoice.customer"></customer-view>
            </div>
        </div>
            <div class="card my-3">
                <invoice-detail [items]="invoice.items"></invoice-detail>
            </div>
        </div>
    </div>
</div>